# GUI Framework
PySide6

# Nuitka and its dependencies for compilation
nuitka
zstandard
ordered-set

# Application Dependencies
pyttsx3
pywin32 # Explicitly add the modern windows dependency, avoids issues with pyttsx3's old pypiwin32
sounddevice
scipy
numpy
SpeechRecognition
requests