# This file pins exact versions for a reproducible build on Python 3.11.

# GUI Framework
PySide6==6.9.1

# EXE Bundler
pyinstaller==6.9.0

# Application Dependencies
pyttsx3==2.98
pywin32==310
sounddevice==0.5.2
scipy==1.16.0
numpy==2.3.1
SpeechRecognition==3.14.3
requests==2.32.4